<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileTypeExtension" type="System.Configuration.DictionarySectionHandler"/>
    <section name="HasSizeHeader" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <FileTypeExtension>
    <add key="Texture" value="dds"/>
  </FileTypeExtension>
  <HasSizeHeader>
    <add key="AudioProgrammerReport" value="1"/>
    <add key="Cutscene" value="1"/>
    <add key="Texture" value="1"/>
    <add key="StringTable" value="1"/>
    <add key="GibData" value="1"/>
    <add key="AudioEnvironment" value="1"/>
    <add key="AudioWavbankMarkers" value="1"/>
    <add key="AudioWavebankData" value="1"/>
    <add key="Outfit" value="1"/>
    <add key="Material" value="1"/>
    <add key="MeshSet" value="1"/>
    <add key="SimulationData" value="1"/>
    <add key="Stance" value="1"/>
    <add key="ComboPose" value="1"/>
    <add key="ComboAnim" value="1"/>
    <add key="AmbMeshDefinition" value="1"/>
    <add key="Climate" value="1"/>
    <add key="Weather" value="1"/>
    <add key="OceanData" value="1"/>
    <add key="TerrainMaterial" value="1"/>
    <add key="LootLookup" value="1"/>
    <add key="LobbyRulesAttributes" value="1"/>
    <add key="DLCLobbyAttributes" value="1"/>
    <add key="Buff" value="1"/>
    <add key="MechItem" value="1"/>
    <add key="SpawnManagerAttributes" value="1"/>
    <add key="ShiftStory" value="1"/>
    <add key="SpawnEvent" value="1"/>
    <add key="VidSubtitles" value="1"/>
    <add key="Effect" value="1"/>
    <add key="RigidBodyEventData" value="1"/>
    <add key="EffectTable" value="1"/>
    <add key="Story" value="1"/>
    <add key="LevelData" value="1"/>
    <add key="DUIMovie" value="1"/>
    <add key="ResourceBuildStamp" value="1"/>
    <add key="Chatter" value="1"/>
    <add key="MusicSet" value="1"/>
    <add key="WarChest" value="1"/>
    <add key="Experience" value="1"/>
    <add key="GameSettings" value="1"/>
    <add key="LoadingBackgroundSets" value="1"/>
    <add key="RegimentChallengeTab" value="1"/>
    <add key="AchievementRequirementData" value="1"/>
    <add key="CameraSettings" value="1"/>
    <add key="DamageResponseTable" value="1"/>
    <add key="ControllerConfig" value="1"/>
    <add key="LevelList" value="1"/>
    <add key="LootTableInfo" value="1"/>
    <add key="AmbientVignettes" value="1"/>
    <add key="Loadout" value="1"/>
    <add key="DriverOutfit" value="1"/>
    <add key="PilotList" value="1"/>
    <add key="RichPresenceInfo" value="1"/>
    <add key="MissionData" value="1"/>
    <add key="BuffEffectTable" value="1"/>
    <add key="BuffEffectsData" value="1"/>
    <add key="VisualTypeDefinitions" value="1"/>
    <add key="CommonLineCodes" value="1"/>
    <add key="FlashConfig" value="1"/>
    <add key="InputAliases" value="1"/>
    <add key="AttachmentPointTable" value="1"/>
  </HasSizeHeader>
</configuration>
