<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileTypeExtension" type="System.Configuration.DictionarySectionHandler"/>
    <section name="HasSizeHeader" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <FileTypeExtension>
    <add key="Texture" value="dds"/>
  </FileTypeExtension>
  <HasSizeHeader>
    <add key="AudioProgrammerReport" value="1"/>
    <add key="Cutscene" value="1"/>
    <add key="Texture" value="1"/>
    <add key="StringTable" value="1"/>
  </HasSizeHeader>
</configuration>